:root{
   --quicksand: 'Quicksand',
   sans-serif;
   --roboto: 'Roboto',
   sans-serif;
}
*{
   box-sizing: border-box;
}
a{
   text-decoration: none;
}
body{
   margin: 0;
}
/* reuse */
.get-started-btn {
   width: 113px;
   height: 43px;
   font-family: var(--quicksand);
   font-weight: bold;
   color: rgba(58, 121, 255, 1);
   background-color: rgba(210, 225, 255, 1);
   border: none;
}
.play-it{
   position: relative;
   width: 52px;
   height: 52px;
   background-color:white;
   border-radius:50%;
   box-shadow: 0 10px 30px rgba(201, 209, 231, 0.6);
}
.play-it::before {
   content: "";
   position: absolute;
   top: calc(50% - 10px);
   left: calc(50% - 5px);
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 15px solid rgba(94, 129, 255, 1);
      border-radius: 3px;
}
.text{
   font-family: var(--roboto);
   color:rgba(61, 79, 159, 1);
}
.text>span:first-child{
   font-size: 10px;
   font-weight: 500;
}
.text__title{
   font-size: 48px;
   font-family: var(--quicksand);
   font-weight: 300;
}
.text__title>span{
   font-weight: 500;
}
.text__subtitle{
   font-size: 15px;
   font-weight: 400;
   color:rgba(141, 150, 189, 1);
}
/* header */
.header{
   height: 80px;
   font-family: var(--quicksand);
   border-bottom: 1px solid rgba(216, 227, 254, 1);
}
.header__container{
   height: 100%;
   padding: 0 117px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
   width: 26px;
   height: 26px;
   background-color: rgba(94, 129, 254, 1);
   border-radius: 50%;
}
.header__logo{
   margin-right: 73px;
}
.header__nav{
   display: flex;
   align-items:center;
   cursor:default;
}
.header__nav ul{
   padding: 0;
   margin: 0;
}
.header__nav ul li{
   display: inline-block;
   margin-right: 42px;
}
.header__nav ul a:hover
 {
   color:rgba(94, 129, 254, 1);
}
.header__nav ul li a {
   color: rgba(105, 124, 166, 1);
}
.header__nav ul li:last-of-type {
   margin-right: 0;
}
.soc{
   display: flex;
   align-items: center;
}
.soc ul{
   padding: 0;
   margin: 0;
   cursor:default;
}
.soc ul li{
   display: inline-block;
   margin-right: 34px;
}
.soc ul li:hover {
   filter: saturate(100);
}
.soc li:last-of-type {
   margin-right: 0;
}
.header__but{
   margin-left: 44px;
}
/* hero */
.hero{
   position: relative;
   overflow: hidden;
   height: 570px;
   background-color: rgba(244, 247, 255, 1);
}
.hero__clouds{
   position: absolute;
   z-index: 0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background: url(imgs/clouds-hero.png) no-repeat;
   background-size: cover;
}
.hero__line{
   position: absolute;
   z-index: 1;
   bottom:0;
   width: 100%;
   height: 100%;
   background-image: url(imgs/hero-line.svg);
   background-repeat: no-repeat;

   background-size: cover;
}
.hero__text{
   position: relative;
   z-index: 2;
   height: 100%;
   padding-top: 80px;
   display: flex;
   flex-direction: column;
   align-items:center;
}
.hero__title{
   margin:16px 0 28px 0;
}
.hero__subtitle{
   max-width: 500px;
   text-align: center;
   line-height: 190%;
}
